<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AlumnoServlet</servlet-name>
        <servlet-class>controller.AlumnoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorServlet</servlet-name>
        <servlet-class>controller.ProfesorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Alumno</servlet-name>
        <servlet-class>model.Alumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profesor</servlet-name>
        <servlet-class>model.Profesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Asignatura</servlet-name>
        <servlet-class>model.Asignatura</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Asesoria</servlet-name>
        <servlet-class>model.Asesoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoDAO</servlet-name>
        <servlet-class>model.DAO.AlumnoDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfesorDAO</servlet-name>
        <servlet-class>model.DAO.ProfesorDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignaturaDAO</servlet-name>
        <servlet-class>model.DAO.AsignaturaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsesoriaDAO</servlet-name>
        <servlet-class>model.DAO.AsesoriaDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MisSolicitudesServlet</servlet-name>
        <servlet-class>controller.MisSolicitudesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudesProfesorServlet</servlet-name>
        <servlet-class>controller.SolicitudesProfesorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResponderSolicitudServlet</servlet-name>
        <servlet-class>controller.ResponderSolicitudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudServlet</servlet-name>
        <servlet-class>controller.SolicitudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroServlet</servlet-name>
        <servlet-class>controller.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarAsignaturasServlet</servlet-name>
        <servlet-class>controller.CargarAsignaturasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarProfesoresServlet</servlet-name>
        <servlet-class>controller.CargarProfesoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarProfesorServlet</servlet-name>
        <servlet-class>controller.CargarProfesorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlumnoServlet</servlet-name>
        <url-pattern>/AlumnoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorServlet</servlet-name>
        <url-pattern>/ProfesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Alumno</servlet-name>
        <url-pattern>/Alumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profesor</servlet-name>
        <url-pattern>/Profesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Asignatura</servlet-name>
        <url-pattern>/Asignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Asesoria</servlet-name>
        <url-pattern>/Asesoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoDAO</servlet-name>
        <url-pattern>/AlumnoDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfesorDAO</servlet-name>
        <url-pattern>/ProfesorDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaturaDAO</servlet-name>
        <url-pattern>/AsignaturaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsesoriaDAO</servlet-name>
        <url-pattern>/AsesoriaDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MisSolicitudesServlet</servlet-name>
        <url-pattern>/MisSolicitudesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudesProfesorServlet</servlet-name>
        <url-pattern>/SolicitudesProfesorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResponderSolicitudServlet</servlet-name>
        <url-pattern>/ResponderSolicitudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudServlet</servlet-name>
        <url-pattern>/SolicitudServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>RegistroServlet</servlet-name>
        <url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarAsignaturasServlet</servlet-name>
        <url-pattern>/CargarAsignaturasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarProfesoresServlet</servlet-name>
        <url-pattern>/CargarProfesoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarProfesorServlet</servlet-name>
        <url-pattern>/CargarProfesorServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
